body{
   
    background-color: rgb(0, 97, 21);
   
}
h1{
   
    font-size:150px;
   text-align: center;
   color: rgb(0, 255, 13);

}

button1{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: chartreuse;
    border-radius: 10px;
        width: 120px;
        height: 40px;
        padding: 20px;
    
    
}
