* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #07827b;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: aliceblue;
  background-color: rgb(43, 177, 133);
  transition: background-color 0.3s;
}

.logo img {
  height: 70px;
  width: auto;
  background-size: cover;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 20px;
}

.nav__link{
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  font-size: 18px;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: white;
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
  color: rgb(250, 7, 133);
}

.nav__link:hover::after{
  right: 0;
  height: 2px;
  background: rgb(250, 7, 133);
}

.hero {
  background-image: url(banar.png);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}

.H-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.flex-box {
  width: 31%;
  margin: 5px;
  padding: 8px;
  background-color: white;
  text-align: left;
  color: black;
}

.flex-box img {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto 10px;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.H-container a {
  color: rgb(17, 0, 255);
  transition: transform 0.3s, box-shadow 0.3s;
}

.H-container a:hover {
  color: rgba(255, 0, 0, 0.966);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(17, 0, 255);
}

.back {
  background-color: #037771ce;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.back_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.back_link:hover {
  color: rgb(250, 7, 133);
}

.foot {
  background-color: rgb(43, 177, 133);
  border-top: 0.5px solid rgba(236, 235, 235, 0.833);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.copy {
  background-color: rgb(43, 177, 133);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.copy a{
  color: white;
  font-style: italic;
}
.copy a:hover{
  color:rgb(250, 7, 133) ;
}

.img
{
  color:white;
  margin-left: 10vh;
}

.info img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 700px;
  padding: 10px;
  margin-left: 10%;
}

.img p{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
 
}


.info p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;

}

.info {
  text-align: center;
  color: white;
  

}

h1 {
  color: rgb(243, 243, 243);
  background-color: rgb(33, 201, 145);
}











/* Responsive Design */
@media (max-width: 1200px) {
  .flex-box {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    height: 200px;
    background-size: contain;
  }

  .H-container {
    flex-direction: column;
  }

  .flex-box {
    width: 100%;
    margin: 10px 0;
  }

  .nav__link {
    font-size: 70%;
  }

  .flex-box p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .nav__link {
    padding-top: 39px;
    font-size: 11px;
    height: 15px;

  }

  .hero {
    height: 160px;
    /* width: 480px; */
    background-size: contain;
    /* background-repeat: no-repeat; */
    padding: 0px;
    margin: 0px;
  }

  .H-container {
    padding: 0 10px;

  }

  .flex-box p {
    font-size: 18px;
  }

  .flex-box {
    margin-left: 2px;
    margin-right: 2px;
    width: calc(100% - 20px);
    padding: 3px;
    width: 100%;
  }

  .back_link {
    font-size: 15px;
  }

  .logo img {
    margin-left: 0;
    padding-left: 0;
    width: 140px;
    height: auto;
  }

  ul {
    gap: 10px;
  }

  .foot {
    /* height: 30px; */
    margin: 0;

  }

  .nav__link {
    font-size: 16px;
  }

  .info p{
    font-size: 10px;
  }

  .info img{
    height: auto;
    width: 300px;
    /* border: 8px solid red; */
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .img ol
  {
margin-left: 20%; 
font-size: 10px;
 }
}